* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_432 {
  width: 100%;
  height: 3041px;
  background: rgba(247,255,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_433 {
  width: 366px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 118px;
  left: 573px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v14_436 {
  width: 100%;
  height: 62px;
  background: rgba(62,106,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_4 {
  width: 326px;
  height: 44px;
  background: rgba(62,106,81,1);
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 1034px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_5 {
  width: 267px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 726px;
  left: 1064px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_6 {
  width: 326px;
  height: 44px;
  background: rgba(180,201,175,0.5);
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 1035px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_8 {
  width: 156px;
  height: 44px;
  background: rgba(62,106,81,1);
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 1256px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_7 {
  width: 267px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 788px;
  left: 1065px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_9 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 134px;
  left: 1271px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v36_2 {
  width: 100%;
  height: 377px;
  background: url("/static/v36_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 98px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v36_3 {
  width: 669px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 638px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v31_10 {
  width: 100%;
  color: rgba(95,132,112,1);
  position: absolute;
  top: 802px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v36_4 {
  width: 267px;
  color: rgba(95,133,112,1);
  position: absolute;
  top: 914px;
  left: 622px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v36_5 {
  width: 13px;
  height: 6px;
  background: url("../images/v36_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 939px;
  left: 751px;
  overflow: hidden;
}
.v36_6 {
  width: 8px;
  background: url("../images/v36_6.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 7px;
  border: 3px solid rgba(19,33,25,1);
  transform: rotate(-41deg);
}
.v36_7 {
  height: 8px;
  background: url("../images/v36_7.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(19,33,25,1);
  transform: rotate(-41deg);
}
.v31_12 {
  width: 669px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1077px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v31_13 {
  width: 669px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1362px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v31_140 {
  width: 669px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1960px;
  left: 105px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v31_22 {
  width: 646px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1140px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v31_14 {
  width: 316px;
  height: 455px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1440px;
  left: 98px;
  border: 3px solid rgba(62,106,81,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_77 {
  width: 316px;
  height: 455px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1440px;
  left: 764px;
  border: 3px solid rgba(62,106,81,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_95 {
  width: 316px;
  height: 455px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1440px;
  left: 425px;
  border: 3px solid rgba(62,106,81,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_85 {
  width: 316px;
  height: 455px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1440px;
  left: 1096px;
  border: 3px solid rgba(62,106,81,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_20 {
  width: 252px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1595px;
  left: 118px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v31_78 {
  width: 252px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1595px;
  left: 784px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v31_96 {
  width: 252px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1595px;
  left: 445px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v31_86 {
  width: 252px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1595px;
  left: 1117px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v31_67 {
  width: 277px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1630px;
  left: 117px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  opacity: 1;
  text-align: left;
}
.v31_79 {
  width: 277px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1630px;
  left: 784px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  opacity: 1;
  text-align: left;
}
.v31_97 {
  width: 277px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1630px;
  left: 445px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v31_139 {
  width: 259px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1779px;
  left: 445px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v31_87 {
  width: 277px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 1630px;
  left: 1118px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  opacity: 1;
  text-align: left;
}
.v31_141 {
  width: 538px;
  color: rgba(19,33,25,1);
  position: absolute;
  top: 2028px;
  left: 102px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v31_100 {
  width: 273px;
  height: 44px;
  background: rgba(180,201,175,0.5);
  opacity: 1;
  position: absolute;
  top: 1819px;
  left: 117px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_104 {
  width: 273px;
  height: 44px;
  background: rgba(180,201,175,0.5);
  opacity: 1;
  position: absolute;
  top: 1819px;
  left: 784px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_110 {
  width: 273px;
  height: 44px;
  background: rgba(180,201,175,0.5);
  opacity: 1;
  position: absolute;
  top: 1819px;
  left: 1118px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_117 {
  width: 273px;
  height: 44px;
  background: rgba(180,201,175,0.5);
  opacity: 1;
  position: absolute;
  top: 1819px;
  left: 444px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_118 {
  width: 224px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1830px;
  left: 469px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_101 {
  width: 224px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1830px;
  left: 142px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_105 {
  width: 224px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1830px;
  left: 809px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_111 {
  width: 224px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 1830px;
  left: 1143px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v31_121 {
  width: 64px;
  height: 88px;
  background: url("../images/v31_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1477px;
  left: 118px;
  overflow: hidden;
}
.v31_122 {
  width: 64px;
  height: 88px;
  background: url("../images/v31_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_123 {
  width: 64px;
  height: 88px;
  background: rgba(62,106,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v31_124 {
  width: 45px;
  height: 45px;
  background: rgba(128,178,151,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
}
.v31_125 {
  width: 29px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 18px;
}
.v31_112 {
  width: 669px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 2233px;
  left: 98px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v31_18 {
  width: 220px;
  color: rgba(62,106,81,1);
  position: absolute;
  top: 2296px;
  left: 101px;
  font-family: urbane-rounded, sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
